* { padding: 0; margin: 0; border: 0; } 

.text-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
}

.loader {
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
}

.loader > div {
    margin-top: 48vh;
}

.card {
    cursor: pointer;
    margin-bottom: 1em;
}

.card:hover > div> h4 {
    color: #0094ff;
    transition-duration: 0.3s;
}